@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;800&display=swap');

:root {
  /* standard padding throughout page */
  --pad: 1.5em;

  /* animation delay per grid card */
  --del: .2s;

  /* font and icon color */
  --col: #f0f0f0;
}

* {
  margin: 0;
  padding: 0;

  color: var(--col);
}

html {
  color-scheme: dark;

  font-family: 'Nanum Myeongjo', serif;
  font-size: calc(100vw / 26);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body:before {
  content: "";
  position: fixed;
  width: 120vw;
  height: 120vh;
  top: 0;
  left: 0;

  background: no-repeat top/cover url("assets/bg.jpg");
}

.main {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);

  padding: var(--pad) 0;

  display: grid;
  grid: repeat(6, 12em) / repeat(2, 12em);
}

@media (min-width: 1000px) {
  html {
    font-size: calc(100vmin / 48);
  }

  .main {
    top: 50%;
    transform: translate(-50%, -50%);

    grid: repeat(3, 12em) / repeat(4, 12em);
  }
}

.card {
  position: relative;

  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  border: .4em solid rgba(255, 255, 255, 0.04);

  border-radius: 1.5em;
  padding: var(--pad);
  margin: .5em;

  text-align: justify;

  animation: dropIn 1s both;
}

.main .card:nth-child(1) {
  animation-delay: calc(var(--del) * 0);
}

.main .card:nth-child(2) {
  animation-delay: calc(var(--del) * 1);
}

.main .card:nth-child(3) {
  animation-delay: calc(var(--del) * 2);
}

.main .card:nth-child(4) {
  animation-delay: calc(var(--del) * 3);
}

.main .card:nth-child(5) {
  animation-delay: calc(var(--del) * 4);
}

.main .card:nth-child(6) {
  animation-delay: calc(var(--del) * 5);
}

.main .card:nth-child(7) {
  animation-delay: calc(var(--del) * 6);
}

@keyframes dropIn {
  0% {
    opacity: 0;
    transform: translate(0, -3.5em);
  }
}

.wide {
  grid-column-end: span 2;
}

.tall {
  grid-row-end: span 2;
}

.profile {
  height: 100%;
  border-radius: .75em;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.namediv {
  position: absolute;
  top: 50%;
  right: var(--pad);
  transform: translate(0, -50%);

  text-align: right;
}

.m1 {
  margin-bottom: 1em;
}

.w400 {
  font-weight: 400;
}

.bottom-left {
  position: absolute;
  bottom: var(--pad);
  left: var(--pad);
}

.bottom-right {
  position: absolute;
  bottom: var(--pad);
  right: var(--pad);
  text-align: right;
}

svg {
  fill: var(--col);
  width: 2em;
}

h1 {
  font-size: 1.5em;
}