@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;800&display=swap');

html {
  /* theme coloring */
  color-scheme: dark;
  --col: #f0f0f0;

  /* standard padding throughout page */
  --mul: 1.5;
  --pad: calc(var(--mul) * 1em);

  /* dropIn animation delay per grid card */
  --del: .2s;

  /* grid sizing */
  --blk: 11;
  --grd: calc(var(--blk) * 1em);

  /* column count */
  --clm: 4;

  /* 1em = minimum dimension, divided by (space taken by grid plus padding) */
  font-size: calc(100vmin / (var(--blk) * var(--clm) + 2 * var(--mul)));
  font-family: 'Nanum Myeongjo', serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  color: var(--col);
}

/* non-scrolling background image */
body::before {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  background: no-repeat center/cover url("assets/bg.jpg");
}

.main {
  display: grid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: var(--pad) 0;

  /* automatic rows, with number of columns dependent on screen size */
  grid: auto-flow var(--grd) / repeat(var(--clm), var(--grd));
  grid-gap: 1em;
}

/* mobile devices */
@media (max-width: 1000px) {
  html {
    --clm: 2;
  }

  .main {
    top: 0;
    transform: translate(-50%, 0);
  }
}

.card {
  position: relative;
  padding: var(--pad);

  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  border: .4em solid rgba(255, 255, 255, 0.04);
  border-radius: 1.5em;

  text-align: justify;

  animation: dropIn 1s both;
}

.wide {
  grid-column-end: span 2;
}

.tall {
  grid-row-end: span 2;
}

.main .card:nth-child(1) {
  animation-delay: calc(var(--del) * 0);
}

.main .card:nth-child(2) {
  animation-delay: calc(var(--del) * 1);
}

.main .card:nth-child(3) {
  animation-delay: calc(var(--del) * 2);
}

.main .card:nth-child(4) {
  animation-delay: calc(var(--del) * 3);
}

.main .card:nth-child(5) {
  animation-delay: calc(var(--del) * 4);
}

.main .card:nth-child(6) {
  animation-delay: calc(var(--del) * 5);
}

.main .card:nth-child(7) {
  animation-delay: calc(var(--del) * 6);
}

@keyframes dropIn {
  0% {
    opacity: 0;
    transform: translate(0, -3.5em);
  }
}

h1 {
  font-size: 1.5em;
}

svg {
  fill: var(--col);
  width: 2em;
}

.profile {
  height: 100%;
  border-radius: .75em;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.normal {
  font-weight: 400;
}

.align-right {
  text-align: right;
}

.center-right {
  position: absolute;
  top: 50%;
  right: var(--pad);
  transform: translate(0, -50%);
}

.bottom-left {
  position: absolute;
  bottom: var(--pad);
  left: var(--pad);
}

.bottom-right {
  position: absolute;
  bottom: var(--pad);
  right: var(--pad);
}

.top-right {
  position: absolute;
  top: var(--pad);
  right: var(--pad);
}

.small {
  width: 1em;
}