@font-face {
  font-family: MainFont;
  src: url(assets/font/Cormorant-VariableFont_wght.ttf);
}

@font-face {
  font-family: MainFont;
  src: url(assets/font/Cormorant-Italic-VariableFont_wght.ttf);
  font-style: italic;
}

html {
  /* theme coloring */
  color-scheme: dark;
  --col: #ffffff;

  /* standard padding throughout page */
  --mul: 1.5;
  --pad: calc(var(--mul) * 1em);

  /* dropIn animation delay per grid card */
  --del: .2s;

  /* grid sizing */
  --blk: 10;
  --grd: calc(var(--blk) * 1em);

  /* column count */
  --clm: 4;

  /* 1em = minimum dimension, divided by (space taken by grid plus padding) */
  font-size: calc(100vmin / (var(--blk) * var(--clm) + 2 * var(--mul)));
  font-family: MainFont;
  text-shadow: 0 0 6px #333;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  color: var(--col);
}

/* non-scrolling background image */
body::before {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  background: no-repeat center/cover url("assets/bg.webp");
  filter: blur(8px) brightness(0.5);
}

.pad {
  padding: var(--pad);
}

.pad-third {
  padding: calc(var(--pad) / 3);
}

.space-left {
  margin-left: calc(var(--pad) / 3);
}

.space-right {
  margin-right: calc(var(--pad) / 3);
}

.nav {
  position: sticky;
  top: 0;
  left: 0;
  height: 2em;
}

.nav-item {
  position: relative;
  display: inline-block;
}

.right {
  float: right;
}

.left {
  float: left;
}

.main {
  display: grid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: var(--pad) 0;

  /* automatic rows, with number of columns dependent on screen size */
  grid: auto-flow var(--grd) / repeat(var(--clm), var(--grd));
  grid-gap: 1em;
}

/* mobile devices */
@media (max-width: 1000px) {
  html {
    --clm: 2;
  }

  .main {
    /*top: 2em;*/
    top: 0;
    transform: translate(-50%, 0);
  }
}

.text-justified {
  text-align: justify;
}

.wide {
  grid-column-end: span 2;
}

.tall {
  grid-row-end: span 2;
}

.main .drop:nth-child(1) {
  animation-delay: calc(var(--del) * 0);
}

.main .drop:nth-child(2) {
  animation-delay: calc(var(--del) * 1);
}

.main .drop:nth-child(3) {
  animation-delay: calc(var(--del) * 2);
}

.main .drop:nth-child(4) {
  animation-delay: calc(var(--del) * 3);
}

.main .drop:nth-child(5) {
  animation-delay: calc(var(--del) * 4);
}

.main .drop:nth-child(6) {
  animation-delay: calc(var(--del) * 5);
}

.main .drop:nth-child(7) {
  animation-delay: calc(var(--del) * 6);
}

.drop {
  animation: dropIn 1s both;
}

@keyframes dropIn {
  0% {
    opacity: 0;
    transform: translate(0, -3.5em);
  }
}

h1 {
  font-size: 1.5em;
}

svg {
  fill: var(--col);
  width: 2em;
}

.profile {
  height: 100%;
  border-radius: .75em;
}

.normal {
  font-weight: 400;
}

.align-right {
  text-align: right;
}

.center-right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.small {
  width: 1em;
}

.glass-container {
  position: relative;

  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  background: transparent;
  border-radius: 2rem;
  overflow: hidden;

  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
}

.glass-overlay {
  position: absolute;

  inset: 0;
  z-index: 1;

  overflow: hidden;
  border-radius: inherit;
  background: rgba(255, 255, 255, 0.12);
  box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.4),
    inset 0 0 5px rgba(255, 255, 255, 0.4);
}

.glass-content {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.hover-scale {
  transition: transform 0.15s ease-in-out;
}

.hover-scale:hover,
.hover-scale:focus-visible {
  transform: scale(1.03);
}