@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;800&display=swap');

:root {
  --pad: 1.5em;
}

* {
  margin: 0;
  padding: 0;

  color: white;
}

html {
  color-scheme: dark;

  font-family: 'Nanum Myeongjo', serif;
  font-size: calc(100vw / 26);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body:before {
  content: "";
  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background: no-repeat top/cover url("assets/bg.jpg");
}

.main {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);

  padding: var(--pad) 0;

  display: grid;
  grid: repeat(6, 12em) / repeat(2, 12em);
}

@media (min-width: 1000px) {
  body {
    font-size: calc(100vmin / 48);
  }

  .main {
    top: 50%;
    transform: translate(-50%, -50%);

    grid: repeat(3, 12em) / repeat(4, 12em);
  }
}

.card {
  position: relative;

  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  border: .4em solid rgba(255, 255, 255, 0.05);

  border-radius: 1.5em;
  padding: var(--pad);
  margin: .5em;

  text-align: justify;
}

.wide {
  grid-column-end: span 2;
}

.tall {
  grid-row-end: span 2;
}

.profile {
  height: 100%;
  border-radius: .75em;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.namediv {
  position: absolute;
  top: 50%;
  right: var(--pad);
  transform: translate(0, -50%);

  text-align: right;
}

.m1 {
  margin-bottom: 1em;
}

.w400 {
  font-weight: 400;
}

.linkname {
  position: absolute;
  bottom: var(--pad);
  left: var(--pad);
}

svg {
  fill: white;
  width: 2em;
}